<app-header
  [USDtoUAH]="cachedRates['USDtoUAH']"
  [EURtoUAH]="cachedRates['EURtoUAH']"
></app-header>

<h1>Currency Converter</h1>

<p class="error-message" *ngIf="fetchError">Failed to fetch data</p>

<section class="currency-controls">
  <app-currency
    [(amount)]="amountCurrency1"
    (amountChange)="onAmountCurrency1Change($event)"
    [(currency)]="currency1"
    (currencyChange)="onCurrency1Change()"
  ></app-currency>

  <app-currency
    [(amount)]="amountCurrency2"
    (amountChange)="onAmountCurrency2Change($event)"
    [(currency)]="currency2"
    (currencyChange)="onCurrency2Change()"
  ></app-currency>
</section>
